/**********
font-family: 'Roboto Mono', monospace;
font-family: 'Cabin Sketch', cursive;
font-family: 'Days One', sans-serif;


*************/

#main-nav {
    border: none;
    font-family: 'Helvetica Neue', sans-serif;
}

.logo-img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
}

.navbar-toggle {
    padding: 6px 10px !important;
}

.navbar-nav > li > a {
    color: #222222 !important;
    /* remove if no icons */
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a:hover {
        animation: scaleLogo 0.2s linear forwards;
    }
}

@media (max-width: 768px) {
    .img-nav:hover {
        animation: scaleLogo 0.2s linear forwards;
    }
}

.img-nav {
    width: 30px;
    height: 30px;
}

.img-nav:hover {
}

@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scaleLogo {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}




